@model IEnumerable<ASP_NET_Core_Web_Development_course.Models.ProductModel>

<p>
    <a asp-action="CreateForm">Create New</a>
</p>
<div class="container d-flex flex-wrap">
    @foreach (var item in Model)
    {
        <div id="card-number-@item.Id">
            <partial name="_productCard" model="item" />
        </div>

    }
</div>

<partial name="_modaledit" />
<partial name="_modaldetails"/>
