@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Hello</h2>
        <p>
        This is a basic web application which presents CRUD model APP and allows you to manage data from SQL database on the website. This application was created using classic DAO data operation with SQL statements in file CarDAO.
        </p>
    </div>
</div>