@{
    ViewBag.Title = "Home Page";
}

<h1>Hello!</h1>
<p>this is a basic ASP .Net Core APP which creation was based on Entity framework. Data was migrated from csv file and uploaded to database using commands for entity framework</p>