
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1>Welcome</h1>
<p>This is a basic ASP .Net Core APP with some subsections</p>
<ul>
    <li><b>Privacy</b> tab where messages are tested</li>
    <li><b>Products</b> Product list which is displayed in cards, with random picture. This photo is often connected with title of a product.</li>
    <li><b>Search for a product</b> which allows you to search product in database</li>
    <li> <b>Appointment</b> shows a list of appointments in addition allows you to edit, create or view details.</li>
    <li><b>Cars</b> which was ewaluated in another project</li>
    <li><b>Login</b> simple login form with connection to database</li>
</ul>
<p>This app has a custom bootstrap with different than standard one look</p>
